// need to move all passwords and tokens into this file for safety
// this file is not tracked by git

// WiFi credentials - change this to your WiFi credentials.
const char* WIFI_SSID = "<SSID>";
const char* WIFI_PASSWORD = "<PASSWORD>";

// InfluxDB credentials - change this to your InfluxDB credentials.
const char* INFLUXDB_TOKEN = "<YOUR_SECRET_TOKEN>";